
Partie 1 - Faites vos premiers pas en Python/2. Faites vos premiers pas avec l'interpréteur de commandes Python/.idea/

Partie 1 - Faites vos premiers pas en Python/2. Faites vos premiers pas avec l'interpréteur de commandes Python/venv/Lib/site-packages/

Partie 1 - Faites vos premiers pas en Python/2. Faites vos premiers pas avec l'interpréteur de commandes Python/venv/
